<template>
    <div class="container d-flex justify-content-md-center align-items-center vh-100">
        <div class="card mx-auto w-50">
            <div class="card-header h4 text-center mb-2">Sign up</div>
            <div class="card-body">
                <form @submit="signup">
                    <div class="grey-text">
                        <mdb-input v-model="signupForm.username" icon="user" label="Your username" type="text"/>
                        <mdb-input v-model="signupForm.email" icon="envelope" label="Your email" type="email"/>
                        <mdb-input v-model="signupForm.password" icon="lock" label="Your password" type="password"/>
                        <mdb-input v-model="signupForm.confirm" icon="lock" label="Confirm your password" type="password"/>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-default" type="submit">Sign up</button>
                        <router-link to="/login" class="btn btn-primary">Cancel</router-link>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {mdbInput} from 'mdbvue'
    import axios from 'axios'
    import swal from 'sweetalert';

    export default {
        name: "Signup",
        components: {
            mdbInput
        },
        data() {
            return {
                signupForm : {
                    username: '',
                    email: '',
                    password: '',
                    confirm: ''
                }
            }
        },
        methods: {
            signup(e) {
                e.preventDefault();
                if (this.signupForm.password !== this.signupForm.confirm) {
                    swal("Error", "Confirmation password does not match.", "error");
                    return;
                }
                var signupData = {
                    username: this.signupForm.username,
                    email: this.signupForm.email,
                    password: this.signupForm.password
                };
                console.log(signupData);
                this.axios.post('/signup', signupData)
                    .then((res) => {
                        swal("Success", "Sign up successful", "success", {timer: 1500});
                        this.$router.push("/login");
                    })
                    .catch((error) => {
                        swal("Sign up failed", "No register.", "error");
                        console.log(error)
                    });
            },
            /*
            register(payload) {
                const path = 'http://localhost:5000/user/register';
                axios.post(path, payload)
                    .then((res) => {
                        console.log(res)
                    })
                    .catch((error) => {
                        console.log(error)
                    });
            },
            onSubmit(evt) {
                evt.preventDefault();
                if (this.form.password !== this.form.confirm) {
                    return;
                }
                const payload = {
                    email: this.form.email,
                    password: this.form.password,
                    username: this.form.username,
                    name: this.form.name,
                    phone: this.form.phone,
                    role: this.form.role
                };
                console.log(payload);
                this.register(payload);
            },*/
        }
    }
</script>

