<template lang="html">
    <default>
        <h3>Hoy es {{today}}</h3>
        <h3>Nº usuarios en bbdd: {{nUsers}}</h3>
        <ul class="">
            <li v-for="user in users">{{user.username}}</li>
        </ul>
    </default>
</template>
<script>

import Default from '../components/layout/Default.vue'
import moment from 'moment';

export default {
    name: 'Home',
    components: {
        Default
    },
    data() {
        return {
            nUsers: 0,
            users: [],
            today: {}
        }
    },
    created() {
        this.getUsers();
    },
    methods: {
        getUsers() {
            this.axios.get('/users')
                .then(res => {
                    this.users = res.data;
                    this.nUsers = this.users.length;
                    let today = moment().format('DD/MM/YYYY');
                    this.today = today;
                    console.log(this.users, this.nUsers, this.today);
                })
                .catch(err => console.log(err));
        }
    }
}
</script>